/*колір основного тексту #212121 */
/*вторинний колір тексту #757575 */
/*білий #FFFFFF */
/*акцент синій #2196F3 */
/*вторинний колір фону #2F303A-чорний, #F5F4FA- сірий */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
}
html{
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: inherit;
}
body{
    background-color: var(--white-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
}
body ul{
    list-style: none;
}
body a{
    text-decoration: none;
}

    
            /*Header*/
header {
    background-color: var(--white-color);
    border-bottom: 1px solid #ECECEC;
}
h1,h2,h3,p,ul{
    margin: 0;
    padding: 0;
}
img{
    display: block;
}
.page-nav{
    display: flex;
    align-items: center;
}
.nav{
    display: flex;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 0 15px;
    /*outline: 4px solid red;*/ 
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav .logo{
    padding-top: 24px;
    padding-bottom: 25px;
}
.logo-web {
    color: var(--accent-color);
}
.logo-studio {
    color: #000000;
}
.site-nav {
    display: flex;
    margin-left: 93px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.site-nav .item{
    margin-right: 50px;
}
.site-nav .item:last-child{
    margin-right: 0;
}
.site-nav .link{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    padding: 32px 0;
    display: block;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current{
    color: var(--accent-color);
}
.nav-address .item +.item{
    margin-left: 50px;
}
.nav-address {
    display: flex;
    margin-left: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.nav-address .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
}
.nav-address .link:focus,
.nav-address .link:hover{
    color: var(--accent-color);
}
    /*Hero-sectiov*/
.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
    text-align: center;
    /*outline: 4px solid red;*/
}
.overlay{
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: url();
}
.hero-section .title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 30px;
}
.button{
    min-width: 216px;
    min-height: 50px;
    padding: 10px 32px;
    text-align: center;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
.button__label {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
}
.button:hover, .button:focus{
    color: var(--accent-color);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features{
    display: flex;
    flex-wrap: wrap;
}
.features .item+.item{
    margin-left: 30px;
}
.benefits .item{
    width: 270px;
}
.benefits .details {
    margin-bottom: 10px;
    line-height: 1.14;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.benefits .description {
    line-height: 1.71;
    color: var(--primary-text-color);
}
.benefits{
    padding-bottom: 94px;
    padding-top: 94px;
}
.title-work{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 50px;
}
.box{
    display: flex;
    flex-wrap: wrap;
}
.specialists{
    display: flex;
    flex-wrap: wrap;
}

.specialists .name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 10px;
}
.specialists .profession{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--primary-text-color);
}
.work{
    display: flex; 
    padding-bottom: 94px;
}

.work .item +.item{
    margin-left: 30px;
}
.work1 {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}
.team {
    padding-top: 30px;
    padding-bottom: 30px;
}
.container1{
    width: 270px;
    height: 368px;
    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.container1 +.container1{
    margin-left: 30px;
}
   


            /*Футер*/
.footer{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer .logo-studio{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--white-color);
}
.footer .logo {
    display: flex;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.footer .address{
    font-style: normal;
    line-height: 1.71;
    color: var(--white-color);
}
.footer .item +.item{
    margin-top: 9px;
}

.footer .mail,
.footer .tel{
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}
.footer .address:hover, .footer .address:focus,
.footer .mail:hover, .footer .mail:focus,
.footer .tel:hover,.footer .tel:focus{
    color: var(--accent-color);
}
       


                /*Портфоліо*/
.filters{
    padding-top: 94px;
    padding-bottom: 94px;
}
.filters-menu{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}
.filters-menu .item+.item{
    margin-left: 8px;
}
.filters .btn{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: var(--title-text-color);
    background-color: #F5F4FA;
    padding: 6px 22px;
    border-radius: 4px;
    min-width: 73px;
    border-color: transparent;
}
.filters .btn:hover,
.filters .btn:focus{
    color: var(--white-color);
    background-color: var(--accent-color);
}
.portfolio .link{
    background-color: #EEEEEE;
}
.title-portfolio{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.variety-portfolio{
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
}
.portfolio{
    display: flex;
    flex-wrap: wrap;
}
.container2{
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
    height: 404px;
    background: var(--white-color);
    border: 1px solid #EEEEEE;
}
.container2:nth-child(3n) {
    margin-right: 0;
}
.container2:nth-last-child(-n+3){
    margin-bottom: 0;
}
.menu{
    padding: 20px 24px;
}